body{background-color: rgba(42, 231, 209, 0.354);}
html{margin: 0.5rem;}

/* img{height: 12rem;
width: 12rem;} */
p{
margin: 0rem} 
h1{padding: 0rem;}

.playfair-display-fd {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

.flex{
    display: flex;
}
.row{margin: 0;}
